@import 'variables';
@import 'reset';

*:focus {
  box-shadow: 0 0 3px 3px rgba(65, 180, 250, 0.8);
  outline: none;
}

html {
  background: $dark-green;
  background: linear-gradient(to right, $dark-green, #2b7a88) fixed;
  button,
  button:hover,
  button:active,
  button:focus,
  input[type=submit],
  input[type=submit]:hover,
  input[type=submit]:active,
  input[type=submit]:focus,
  input[type=button],
  input[type=button]:hover,
  input[type=button]:active,
  input[type=button]:focus {
    border-radius: 3px;
    padding: 10px;
  }
  h1 {
    color: $white;
    font-family: $heading-font;
    font-size: 1.8rem;
    letter-spacing: 5px;
    padding-top: 4%;
    text-align: center;
  }
  main {
    margin: auto;
    max-width: 500px;
    padding-top: 20px;
    padding-bottom: 70px;
  }
  footer {
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    color: $white;
    font-size: 0.8rem;
    left: 0;
    letter-spacing: 2px;
    padding: 14px 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: $light-green;
    }
  }
}
