@import 'variables';
@import 'reset';

*:focus {
  box-shadow: 0 0 3px 3px rgba(65, 180, 250, 0.8);
  outline: none;
}

html {
  background: $dark-green;
  background: linear-gradient(to right, $dark-green, #2b7a88) fixed;
  button,
  button:hover,
  button:active,
  button:focus,
  input[type=submit],
  input[type=submit]:hover,
  input[type=submit]:active,
  input[type=submit]:focus,
  input[type=button],
  input[type=button]:hover,
  input[type=button]:active,
  input[type=button]:focus {
    border-radius: 3px;
    padding: 10px;
  }
  h1 {
    color: $white;
    font-family: $heading-font;
    font-size: 1.8rem;
    letter-spacing: 5px;
    padding-top: 4%;
    text-align: center;
  }
  main {
    margin: auto;
    max-width: 500px;
    padding-top: 20px;
    padding-bottom: 70px;
    .add-book,
    .add-book:hover,
    .add-book:active,
    .add-book:focus {
      background: $light-green;
      color: $dark-green;
      margin: 20px 0;
    }
    #modal {
      background: rgba(0, 0, 0, 0.75);
      bottom: 0;
      height: 100%;
      left: 0;
      overflow: auto;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
      .modal-content {
        animation: slideIn 0.3s ease-out;
        background: $white;
        margin: 10% auto;
        max-width: 400px;
        width: 70%;
        .modal-header {
          background: $dark-green;
          padding: 10px;
          h2 {
            color: $white;
            font-size: 1.1rem;
            font-weight: 300;
          }
        }
        .modal-body {
          padding: 10px;
          .form-group {
            margin: 10px;
            text-align: right;
            label {
              margin-right: 5px;
            }
            input[type=text] {
              border: 1px solid $dark-green;
              padding: 5px;
            }
            #pages-input {
              max-width: 100px;
            }
          }
          .error-message {
            background: hsl(349, 96%, 95%);
            border: 1px solid hsl(349, 96%, 90%);
            border-radius: 3px;
            color: hsl(349, 96%, 26%);
            line-height: 20px;
            margin: 10px 0;
            padding: 15px 10px;
            text-align: center;
            width: 100%;
          }
          .button-group {
            margin: 10px;
            text-align: right;
            input[type=submit],
            input[type=submit]:hover,
            input[type=submit]:active,
            input[type=submit]:focus,
            input[type=button],
            input[type=button]:hover,
            input[type=button]:active,
            input[type=button]:focus {
              background: $dark-green;
              color: $light-green;
              margin-top: 10px;
              margin-left: 10px;
            }
          }
        }
      }
    }
    .main-card {
      background: rgba(0, 0, 0, 0.1);
      padding: 10px;
      .book-card {
        background: $white;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 10px;
        .row:first-child {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          h2 {
            color: $dark-green;
            font-size: 1rem;
            line-height: 24px;
            width: 85%;
          }
          .delete-book,
          .delete-book:hover,
          .delete-book:active,
          .delete-book:focus {
            align-self: flex-start;
            background: $dark-green;
            color: $light-green;
            .fa-trash-alt {
              pointer-events: none;
            }
          }
        }
        .row:last-child {
          hr {
            border-bottom: 1px solid $dark-green;
            margin: 8px 0;
          }
          .author,
          .pages {
            margin: 10px 0;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .no-books {
        color: $white;
        line-height: 20px;
        padding: 10px;
        text-align: center;
      }
    }
  }
  footer {
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    color: $white;
    font-size: 0.8rem;
    left: 0;
    letter-spacing: 2px;
    padding: 14px 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: $light-green;
    }
  }
}

@keyframes slideIn {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 10%;
  }
}
