$teal: hsl(189, 68%, 22%);
$black: hsl(0, 0%, 0%);
$error-red: hsl(349, 96%, 26%);
$main-font: "Fira Sans", Helvetica, Arial, sans-serif;
$heading-font: Allan, "Fira Sans", Helvetica, Arial, sans-serif;
